<link rel="stylesheet" href="/css/bootstrap-grid.css" />
<link rel="stylesheet" href="/css/grid.css" />
<h2 class="page-header">Thông tin thiết bị {{#if username}}của <b>{{username}}</b>{{/if}}</h2>

{{#if devices}}
  <div class="row">
    <div class="col-md-2">ID Thiết bị</div>
    <div class="col-md-2">Tên</div>
    <div class="col-md-1">Loại thiết bị</div>
    <div class="col-md-1">Tình trạng</div>
    <div class="col-md-1">Kích hoạt</div>
    <div class="col-md-1">Repay</div>
    <div class="col-md-2">Mã thiết bị</div>
  </div>
  {{#each devices}}
    <div class="row">
        <div class="col-md-2">{{_id}}</div>
        <div class="col-md-2">{{name}}</div>
        <div class="col-md-1">
          {{#switch type}}
            {{#case 0}}
              Gateway
            {{/case}}
            {{#case 1}}
              Control
            {{/case}}
            {{#case 2}}
              Sensor
            {{/case}}
            {{#case 3}}
              Relay
            {{/case}}
          {{/switch}}
        </div>
        <div class="col-md-1">
          {{#if status}}<div class='active'>
          {{else}}<div class='inactive'>
          {{/if}}
          {{#switch status}}
            {{#case 0}}
              <b>OFF</b>
            {{/case}}
            {{#case 1}}
              <b>ON</b>
            {{/case}}
          {{/switch}}
          </div>
        </div>
        <div class="col-md-1">
          {{#switch enable}}
            {{#case 0}}
              Disabled
            {{/case}}
            {{#case 1}}
              Enabled
            {{/case}}
          {{/switch}}
          </div>
        <div class="col-md-1">{{relay}}</div>
        <div class="col-md-2">{{code}}</div>
        {{!-- <div class="col-md-1">
          <a class="btn btn-round btn-info" href="/devices/detail?id={{_id}}">
            Chi tiết
          </a></div> --}}
    </div>          
  {{/each}}
{{else}}
  <p>Không tìm thấy thiết bị nào.</p>
{{/if}}
