<h2 class="page-header">Thông tin chi tiết thiết bị</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{device.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    </tr>
                    <tr>
                        <td>Thành phố/Tỉnh:</td>
                        <td>{{user.city}}</td>
                    </tr>
                    <tr>
                        <td>Quận/Huyện:</td>
                        <td>{{user.district}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>{{user.ward}}</td>
                    </tr>
                    <tr>
                        <td>Lần truy cập cuối cùng:</td>
                        <td>{{user.lastAccess}}</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>{{user.status}}</td> 
                    </tr>            
                </tbody>
                </table>
                
                <a href="/devices?id={{user._id}}" class="btn btn-primary">Thông tin thiết bị</a>
                <a href="/history?id={{user._id}}" class="btn btn-primary">Lịch sử hoạt động</a>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        {{!-- <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a> --}}
        <span class="pull-right">
            <a href="#" data-original-title="Sửa khách hàng" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            <a data-original-title="Xóa khách hàng" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
        </span>
    </div>
    <br/>
</div>